@font-face {
    font-family: 'Inter';
    src: url("fonts/Inter-Regular.otf");
}

@font-face {
    font-family: 'Karla';
    src: url("fonts/Karla-Bold.ttf");
}

body {
    margin: 0;
    
}

#background {
    width: 674px;
    height: 800px;
    background: #1C1C1C;
}

.box {
    position: absolute;
    width: 550px;
    height: 700px;
    background: #1F2937;
    border-radius: 6px;
    
}

#boxLeft {
    left: 62px;
    top: 64px;
}

.colorwhite {
    color: #FFFFFF;
}

.colorgreen {
    color: #10B981
}

h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 114px;
    top: 115px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
}

h2 {
    font-family: 'Inter';
    position: absolute;
    padding-top: 10px;
    width: 372px;
    height: 28px;
    left: 114px;
    top: 205px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

button {
    position: absolute;
    
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#passBtn {
    width: 191px;
    height: 42px;
    left: 114px;
    top: 348px;
}

#seedBtn {
    width: 191px;
    height: 42px;
    left: 114px;
    top: 530px;
}


.passBox {
    background: #273549;
    border-radius: 6px; 
}

#passBoxOne {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 114px;
    top: 460px;
    
}

#passBoxTwo {
    position: absolute;
    width: 211px;
    height: 39px;
    left: 349px;
    top: 460px;
}

h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #55F991;
}

#passOne {
    position: absolute;
    width: 192px;
    height: 32px;
    left: 129px;
    top: 464px;
    margin: 0;
    padding: 0;
}

#passTwo {
    position: absolute;
    width: 192px;
    height: 32px;
    left: 359px;
    top: 464px;
    margin: 0;
    padding: 0;
}

.lineBreak {
    border: 1px solid #2F3E53;
    width: 446px;
    height: 0px;
}

#lineBreakOne {
    position: absolute;
    left: 114px;
    top: 425px;
}

#lineBreakTwo {
    position: absolute;
    left: 114px;
    top: 600px;
}